.PreviewContainer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
	font-family: 'Press Start 2P', cursive;
	font-size:9px;
}

h5{
	text-overflow: ellipsis;
}

.avatar
{
	background-color: green !important;
	color: white !important;
}

.leftPreview {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-self: start;
}

.titleAndLm {
    display: flex;
    flex-direction: column;
}

.messageDetail {
    margin-left: auto;
}

.lastMsg{
	color:blue;
}