.MessageInput form{
	background-color:#070739;
}
.MessageInput textarea{
	resize: none;
	padding: 8px 9px;
	overflow: hidden;
	width: 90%;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	border-color:black;

}
textarea[type="text"]:focus, .uneditable-input:focus, .form-control:focus
{
	border-color: none;
	box-shadow: none;
	outline: none;
	font-family: 'Press Start 2P', cursive;

}
.MessageInput button{
	width: 10%;
	height:100%;
	background-image:url("../images/sendPic.png");
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position:center;	
}
