.msgbackground{
	background-image: url("../images/chatbox.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h6, span{
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

span{
	font-size: 8px;
}